; vim: sw=8 ts=8 noexpandtab

[include]
	path = ~/.gituser
; @example for file .gituser
; [user]
; 	name = "User Name"
; 	email = "user.name@gmail.com"
; 	signingkey = 3F00K0FF3D7CB632
; [credential "https://github.com"]
; 	username = githubUser 
; [credential "http://localhost:8080"]
; 	username = localUser

[alias]
	ck = checkout
	br = branch
	cm = commit
	st = status
	d = difftool
  ; l = log --decorate --oneline --graph
	l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=human-local
	m = merge --no-ff
	ff = merge --ff-only
	pull = pull --prune
	c = clone --recursive
	p = pull
	pr = pull --rebase
	rp = checkout HEAD -- package-lock.json   
	prune-origin = remote prune origin
	branch-list-remote = for-each-ref --format='%(color:cyan)%(authordate:format:%m/%d/%Y %I:%M %p)    %(align:25,left)%(color:yellow)%(authorname)%(end) %(color:reset)%(refname:strip=3)' --sort=authordate refs/remotes


[diff]
	tool = vimdiff
	submodule = log

[difftool]
	prompt = false
	trustExitCode = true

[core]
	pager = less -iXFRE
	filemode = false
	commentChar = "#"
	excludesfile = ~/.gitignone_global

[mergetool]
	trustExitCode = true
[rebase]
	abbreviateCommands = true
[pull]
	ff = only
[init]
	defaultBranch = master
[submodule]
	recurse = true
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	fdiffFilter = delta --color-only
[push]
	followTags = true

