Session.vim
*.log
npm-debug.log*
.npm
.env

# ???
zprivate.zsh
# zsh completion cache
.zcompdump*
.zcompcache/

.zsh_history

# Python mess
__pycache__/
*.pyc

# Node mess
node_modules/

# Vim mess
*.swa
*.swo
*.swp

# fontconfig cache thingy to speed up GUI
fonts/.local/share/fonts/.uuid

git/.config/gh/hosts.yml
