# yaml-language-server: $schema=https://gh-dash.dev/schema.json
prSections:
  - title: Opened
    filters: -review:approved is:Open
  - title: Approved
    filters: author:@me review:approved is:Open
  - title: Involved
    filters: involves:@me -author:@me is:Open
issuesSections:
  - title: My Issues
    filters: author:@me
  - title: Assigned
    filters: assignee:@me
  - title: Involved
    filters: involves:@me -author:@me
defaults:
  preview:
    open: true
    grow: true
    width: 180
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: true
      base:
        width: 15
        hidden: true
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: true
  refetchIntervalMinutes: 30
pager:
  diff: bat
repoPaths:
  undg/*: ~/Code/*
  "*": ~/Code/*
keybindings:
  universal:
    - key: g
      name: lazygit
      command: >
        cd {{.RepoPath}} && lazygit
  prs:
    - key: O
      builtin: checkout
    - key: C
      name: code review
      command: >
        tmux new-window -c {{.RepoPath}} '
        nvim -c ":silent GHOpenPR {{.PrNumber}}"
        '
    - key: v
      name: approve
      command: >
        gh pr review --repo {{.RepoName}} --approve --body "$(gum input --prompt='Approval Comment: ')" {{.PrNumber}}
