# node runtime nonsense
node_modules
bun.lock
package.json
package-lock.json

# un-ignore global ignore
!AGENTS.md
!.opencode/

# custom skill
.opencode/plans/
opencode-notifier-state.json

# opencode-agent-memory
memory/
