command=~/.config/i3/scripts/statusbar/$BLOCK_NAME
separator_block_width=15
markup=pango

[window title]
command=xdotool getactivewindow getwindowname
interval=1
min_width=1300
align=center
separator=false

[openvpn3status]
interval=10
separator=false
command=openvpn3 sessions-list | egrep -o "(connected|paused)"

[bandwidth2]
command=/usr/lib/i3blocks/bandwidth2/bandwidth2
interval=persist
label=
# label=
# label=
separator=false
USE_BITS=0
USE_BYTES=1
WARN_RX=307200
WARN_TX=30720
CRIT_RX=512000
CRIT_TX=51200

[memory]
full_text="$BLOCK_NAME"
interval=30
label=
markup=mononoki
separator=false

[cpu]
full_text="$BLOCK_NAME"
interval=15
label=龍
separator=false

[disk]
ALERT_LOW=10
DIR=/home/undg/
command=disk
interval=60
label=
separator=false

[disk]
ALERT_LOW=20
DIR=/
command=disk
interval=60
label=撚
separator=false

[disk]
ALERT_LOW=5
DIR=/home/undg/Storage/
command=disk
interval=60
label=歷
separator=false

[clock]
interval=30
label=
separator=false

[battery]
command=battery BAT0
interval=5

# [volume]
# interval=1
# signal=10

[pacpackages]
interval=21600
label=📦
signal=8


# vim: ft=sh
